body {
  background-color: rgb(191, 191, 191);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MAIN */
main {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.nftThumbnail {
  width: 100%;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

#navbar li {
  border: 2px solid transparent;
  float: left;
  display: block;
  text-align: center;
  padding: 8px 10px;
  color: white;
}
#navbar a {
  text-decoration: none;
  color: white;
}
#navbar li:hover {
  background-color: rgb(72, 72, 72);
  cursor: pointer;
}
/* MODAL */
.modal-content {
  box-shadow: 10px 10px 15px;
}

/* NFT Gallery */
.nftCard {
  max-width: 250px;
}
.nftThumbnail {
}

/* FOOTER */
#footer {
  background-color: grey;
  width: 100%;
}
